.about-section {
  background: #f9fafb;

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 28px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-text-wrapper {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #151515;
  max-width: 316px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.625;
    max-width: 750px;
  }
}
