.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 87px;
  }
}

.gameplay-text-wrapper {
  @include media(desktop) {
    width: 100%;
    max-width: 560px;
  }
}

.gameplay-title {
  text-align: left;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.gameplay-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #151515;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.625;
    margin-bottom: 56px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(desktop) {
    gap: 16px;
  }
}

.gameplay-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.gameplay-item-circle {
  background: #2b7fff;
  border-radius: 33554400px;
  min-width: 6px;
  width: 6px;
  height: 6px;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #151515;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.gameplay-img {
  @include media(desktop) {
    min-width: 560px;
  }
}
