<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">Small grid. Big mental boost.</h2>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">
            We kept MiniCross super simple on purpose. We make a new 5x5
            crossword every day that's easy to start but still makes you think.
            Sure, they're tiny puzzles, but we don't half-ass the clues — each
            one's meant to make you go 'hmm' for a second. It’s the kind of
            daily habit that feels productive without feeling demanding.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
