<section class="benefits-section section" id="benefits">
  <div class="benefits-section-wrapper">
    <div class="container benefits-container">
      <div class="benefits-content-wrapper">
        <div class="benefits-text-wrapper">
          <h2 class="section-title benefits-title">
            Train memory. Strengthen vocabulary. Stay sharp.
          </h2>
          <p class="benefits-top-text">
            When you're doing crosswords, your brain's basically juggling like
            five different things at once. You recall vocabulary, interpret
            clues, and connect letters logically across the grid. Playing
            regularly might help with your focus and vocabulary — it's like a
            little workout for your brain. A few minutes a day can make a
            noticeable difference over time.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/benefits/benefits-img-desk.png"
            media="(min-width: 1440px)"
            width="246"
            height="361"
          />
          <source
            srcset="./img/benefits/benefits-img-mob.png"
            width="217"
            height="319"
          />
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img-mob.png"
            alt="Screenshot of the game"
            width="217"
            height="319"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
